@using BankAdministration.Web.Models;

@model PasswordViewModel

<form asp-controller="Password" asp-action="Password">
    <div class="form-group">
        <div asp-validation-summary="ModelOnly"></div>

        <label for="password">Jelszó</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
        <br />
        <br />

        <input type="submit" class="btn btn-primary" value="Bejelentkezés" />
    </div>
</form>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}